{% extends 'users/base.html' %}
{% load static %}

{% block body %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

    body {
        font-family: 'Roboto', sans-serif;
        background-color: #f0f8ff; /* Light blue background */
    }

    .form-container {
        max-width: 700px;
        margin: 40px auto; /* Centered with margin from the top */
        padding: 30px;
        background-color: #f0f8ff; /* Light blue background */
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .form-container h2 {
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 30px;
        color: #1e3a8a; /* Dark blue */
        font-weight: 700;
    }

    .form-container label {
        color: #1e3a8a;
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 5px;
        display: block;
    }

    .form-container .form-input {
        width: 100%;
        padding: 12px;
        margin-bottom: 20px;
        border: 1px solid #1e3a8a;
        border-radius: 5px;
        background-color: white;
        color: #1e3a8a;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
        font-size: 1rem;
    }

    .form-container .form-input:focus {
        outline: none;
        border-color: #2563eb;
    }

    .form-container button {
        width: 100%;
        padding: 12px;
        background-color: #2563eb; /* Blue */
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 1.2rem;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .form-container button:hover {
        background-color: #1e3a8a;
    }

    .error-container {
        margin-bottom: 20px;
    }

    input:focus {
        outline: none;
    }
</style>

<h2 class="text-center mt-10 text-3xl text-blue-700 font-bold">PASSWORD RESET</h2>

<div class="form-container py-5 mx-5 my-5">
    <form action="" method="POST">
        {% csrf_token %}
        <div class="mb-4">
            <label for="id_email">EMAIL ADDRESS</label>
            <div class="form-input shadow appearence-none border rounded py-2 px-3 text-blue-700">
                {{ form.email }}
            </div>
        </div>
        <button type="submit" class="bg-blue-500 text-white mt-5 px-5 py-2">Reset Password</button>
    </form>
</div>

{% endblock %}
